<!DOCTYPE html>
@{
    ViewBag.AdditionalContainerClass=ViewBag.AdditionalContainerClass??"whitesheet";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/typeahead")
        @Styles.Render("~/Content/typeahead")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap-responsive")
    <script src="~/Scripts/Custom/PrometheusModelValidation.js"></script>
    <script src="~/Scripts/Custom/PrometheusForms.js"></script>
</head>
<body class="@ViewBag.AdditionalContainerClass">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
   <div class="container">
    <a class="brand" href="/">Medlebox</a>
    @if (ViewBag.LoggedIn){
    <ul class="nav pull-right">
      <li class=""><a href="/">Плеер</a></li>
      <li class=""><a href="@Url.Action("Index", "Playlists", new { Reset = true })" data-controller="playlists">Плейлисты</a></li>
      <li class=""><a href="#">Поиск</a></li>
      <li class=""><a href="@Url.Action("Profile","Users", new { Reset = true })" data-controller="users">Профиль</a></li>
      <li class=""><a href="@Url.Action("Logout","Users", new { Reset = true })">Выход</a></li>
    </ul>
    }
    </div>
  </div>
</div>


    <div class="container ">
    @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        currenturl = "@ViewBag.Controller";
        $("a[data-controller='" + currenturl + "']").parent().toggleClass("active");
    </script>
        <script type="text/javascript">
            BindEvents();
    </script>

</body>
</html>
