<!DOCTYPE html>
@{
    ViewBag.LoggedIn = ViewBag.LoggedIn ?? true;
}

@if (ViewBag.LoggedIn){
    ViewBag.SheetClass = "sheet";
    ViewBag.StripesClass = "darkstripes";
} else
{
    ViewBag.SheetClass = "";
    ViewBag.StripesClass = "stripes";
}
@if (IsSectionDefined("Annotation"))
{
    ViewBag.StickClass = "stickright";
    ViewBag.SpanClass = "span9";
} else
{
    ViewBag.StickClass = "";
    ViewBag.SpanClass = "";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Medlebox - @ViewBag.Title</title>
        @Styles.Render("~/Content/typeahead")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap-responsive")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/typeahead")
    <script src="~/Scripts/Custom/PrometheusModelValidation.js"></script>
    <script src="~/Scripts/Custom/PrometheusForms.js"></script>
</head>
<body class="@ViewBag.StripesClass">
        @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
   <div class="container">
    <a class="brand" href="/">Medlebox</a>
    @if (ViewBag.LoggedIn){
    <ul class="nav pull-right">
      <li class=""><a href="/">Плеер</a></li>
      <li class=""><a href="@Url.Action("Index", "Playlists")" data-controller="playlists">Плейлисты</a></li>
      <li class=""><a href="#">Поиск</a></li>
      <li class=""><a href="@Url.Action("Profile","Users")" data-controller="users" >Профиль</a></li>
      <li class=""><a href="@Url.Action("Logout","Users")">Выход</a></li>
    </ul>
    }
    </div>
  </div>
</div>
@if (ViewBag.LoggedIn){
<div id="contentwrapper">
    <div class="container whitespace">
    </div>
</div>
}
    <div class="container">

        <div class="row-fluid">
          <div id="maincolumn" class="@ViewBag.SpanClass">
          <div class="@ViewBag.SheetClass @ViewBag.StickClass">
            @RenderBody()
          </div>
          </div>
            @if (IsSectionDefined("Annotation"))
            {
            <div class="span3">
                 <div class="sheet stickleft pad">
                     @RenderSection("Annotation", false)
                 </div>
            </div>
            }
        </div>
</div>


    <script type="text/javascript">
        currenturl = "@ViewBag.Controller";
        $("a[data-controller='" + currenturl + "']").parent().toggleClass("active");
        $(".sheet").find(".form-actions").each(function (e) {
            $(this).toggleClass("form-actions-sheet");
        });
        //$('.twitter-typeahead').each(function(e)
        //{
        //    $(this).toggleClass("span12");
        //    name = $(this).find(".tt-query").attr("Name");
        //    id = $(this).find(".tt-query").attr("id");
        //    $("span[data-valmsg-for=" + name + "]").insertAfter("#" + id);
        //    $("span[data-valmsg-for=" + name + "]").toggleClass("fve-wrapper");
        //});

    </script>
        <script type="text/javascript">
            BindEvents();
    </script>

     <div id="ProfileModal" class="modal hide fade"  tabindex="-1"
     data-supresswizard="true" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>	

</body>
</html>
