<!DOCTYPE html>
@{
    ViewBag.LoggedIn = ViewBag.LoggedIn ?? true;
}

@if (ViewBag.LoggedIn){
    ViewBag.SheetClass = "sheet";
    ViewBag.StripesClass = "darkstripes";
} else
{
    ViewBag.SheetClass = "";
    ViewBag.StripesClass = "stripes";
}
@if (IsSectionDefined("Annotation"))
{
    ViewBag.MainSpanClass = "span9";
    ViewBag.MainStickClass = "stickright";
}
else
{
    ViewBag.MainSpanClass = "";
    ViewBag.MainStickClass = "";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Medlebox - @ViewBag.Title</title>
        @Styles.Render("~/Content/typeahead")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap-responsive")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/typeahead")
    <script src="~/Scripts/jquery.tablednd.js"></script>
    <script src="~/Scripts/Custom/PrometheusModelValidation.js"></script>
    <script src="~/Scripts/Custom/PrometheusForms.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.jmp3.js"></script>
</head>
<body class="@ViewBag.StripesClass">
@*        @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
<div class="navbar navbar-fixed-top stickbottom">
  <div class="navbar-inner">
   <div class="container">
    <a class="brand" href="/">Medlebox</a>
    @if (ViewBag.LoggedIn){
    <ul class="nav pull-right">
      <li class=""><a href="/">Плеер</a></li>
      <li class=""><a href="@Url.Action("Index", "Playlists")" data-controller="playlists">Плейлисты</a></li>
      <li class=""><a href="#">Поиск</a></li>
      <li class=""><a href="@Url.Action("Profile","Users")" data-controller="users" >Профиль</a></li>
      <li class=""><a href="@Url.Action("Logout","Users")">Выход</a></li>
    </ul>
    }
    </div>
  </div>
</div>
<div class="wrapper">


<div class="wrapper1">
<div class="container whitespace"></div>
</div>


    <div class="container">
      <div class="row-fluid">
        <div id="maincolumn" class="@ViewBag.MainSpanClass"">
          <div class="@ViewBag.SheetClass @ViewBag.MainStickClass">
                @RenderBody()
              </div>
        </div><!--/span-->
                      @if (IsSectionDefined("Annotation"))
            {
        <div class="span3">
        <div class="sheet stickleft"> @RenderSection("Annotation", false)</div>
        </div><!--/span-->
            }

      </div><!--/row-->
        </div>
 
    <script type="text/javascript">
        currenturl = "@ViewBag.Controller";
        $("a[data-controller='" + currenturl + "']").parent().toggleClass("active");
        $(".sheet").find(".form-actions").each(function (e) {
            $(this).toggleClass("form-actions-sheet");
        });
    </script>
        <script type="text/javascript">
            BindEvents();
            function CustomBindEvents() {
            @RenderSection("BindEvents",false)
            }
    </script>

     <div id="ProfileModal" class="modal hide fade"  tabindex="-1"
     data-supresswizard="true" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>	
</div>
</body>
</html>
