@model Medlebox.Models.SongInPlaylist
     @Html.HiddenFor(p=>p.Gid)
     @Html.HiddenFor(p=>p.NumOrder)
     @Html.HiddenFor(p=>p.Played)
     @Html.HiddenFor(p=>p.Song.Artist)
     @Html.HiddenFor(p=>p.Song.Title)
    <tr>
        <td class="dragHandle" style="width:8px"></td>
        <td>@Html.DisplayFor(m=>m.Song) (<a href="@Url.Action("Index","Home",new{Gid=Model.Song.Gid})">play</a>)</td>
        <td style="width:32px"><a role="button" data-refresh="songsinplaylist" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { SongGid = Model.Gid,SubAction="RemoveSong"  })"><i class="icon-remove"></i></a></td>
    </tr>

