@model Medlebox.Models.Playlist

@{
    ViewBag.Title = "Плейлист";
}

<h2>@Html.DisplayFor(m=>m.Name)</h2>

@using (Html.BeginForm("Songs", "Playlists", FormMethod.Post, new { @class = "form-horizontal", id="playlistform" }))
{
@Html.HiddenFor(p=>p.Gid)
@Html.HiddenFor(p=>p.Name)

    <fieldset>
<div id="songsinplaylist">
<table class="table table-hover">
   @Html.EditorFor(s=>s.Songs)
    <tr>
        <td></td>
        <td><i class="icon-plus"></i> <a data-select="NewSongGid" data-target="#SongsSearch" data-refresh="songsinplaylist" data-toggle="prometheusmodal"
             id="AddSongLink"
             href="@Url.Action("Index", "Songs", new { id = Guid.NewGuid() })">Добавить</a>
</td>
        <td></td>
    </tr>
</table>
</div>
   
@Html.Hidden("NewSongGid")
<a id="NewSongLink" href="#" data-refresh="songsinplaylist" role="button"></a>
<script type="text/javascript">
    $("#NewSongGid").change(function (e) {
        href = "@Url.Action(ViewContext.RouteData.Values["action"].ToString())";
        href = href + "?SubAction=AddSong&SongGid=" + $(this).attr("Value");
        $("#NewSongLink").attr("href",href);
        $("#NewSongLink").click();
    });
</script>

<div class="form-actions">
                    <a class="btn" href="@Url.Action("Index")" >Назад</a>
    </div>
</fieldset>
}
 <div id="SongsSearch" class="modal hide fade wider"  tabindex="-1"
     data-supresswizard="true" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>		
